<div class="daily-container">
  <div class="day">
    <h3 class="day-name">{{ getWeekdayName() }}</h3>
    <p class="sub-info">{{ dayForecast()?.date | date:'dd/MM' }}</p>
  </div>

  <div class="temperature">
    <img [src]="dayForecast()?.day!.condition.icon" alt="img"/>
    <div class="temp-info">
      <p>{{ dayForecast()?.day!.maxtemp_c }}°C</p>
      <p class="sub-info">{{ dayForecast()?.day!.mintemp_c }}°C</p>
    </div>
  </div>

  <div class="weather-description"> {{ dayForecast()?.day!.condition.text }}</div>

  <div class="additional-info-wrapper" [class.open]="addInfoOpen()">
    <img
      (click)="openAdditionalInfo()"
      class="arrow-up"
      src="../../../assets/svgs/arrow-up.svg"
      alt="img"
    />

    <div class="additional-info-items" [class.open]="addInfoOpen()">
      <div class="info-item">
        <p><span>Wind</span> {{ dayForecast()?.day!.maxwind_kph }} km/h</p>
        <p><span>Rain</span> {{ dayForecast()?.day!.daily_will_it_rain }} %</p>
      </div>
      <div class="info-item">
        <p><span>Humidity</span> {{ dayForecast()?.day!.avghumidity }} %</p>
        <p><span>Snow</span> {{ dayForecast()?.day!.daily_chance_of_snow }} %</p>
      </div>

      <!--      <a class="see-detailed" routerLink="/hourly">See hourly ></a>-->
      <a class="see-detailed" (click)="seeDetailed(dayForecast()?.hour)">See hourly ></a>
    </div>
  </div>
</div>
