* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --opacityPrimery: #fff;
  --primery: #F3F4F6FF;
  --primeryLight: #2563eb;
  --secondary: #d1d5db;
  --secondaryLight: #f9fafb;
  --blue: #2e82f6;
  --white: #172554;
  --gray: #485563;
  --orange: #f3c33d;
  --n-white: #fff;
  --border: #a5abc1;
}

[data-theme="dark"] {
  --opacityPrimery: #111827FF;
  --primery: #030712;
  --primeryLight: #1e3a8a;
  --secondary: #1f2937;
  --secondaryLight: #374151FF;
  --blue: #2e82f6;
  --white: #fff;
  --gray: #ccc;
  --border: #212c4a;
}

.container {
  max-width: 1420px;
  padding: 16px 24px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--orange);
  display: block;
}

img {
  display: block;
  width: 100%;
}
