* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --opacityPrimery: #111827FF;
  --primery: #030712;
  --primeryLight: #1e3a8a;
  --secondary: #1f2937;
  --secondaryLight: #374151FF;
  --blue: #2e82f6;
  --white: #fff;
  --gray: #ccc;
  --orange: #f3c33d;
}

.container {
  max-width: 1420px;
  padding: 16px 24px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--orange);
  display: block;
}

img {
  display: block;
  width: 100%;
}
